{{setTitle 'Details'}}
<section id="details-page">

                <div class="main_card">
                    <div class="card_left">
                        <div class="card_datails">

                            <h1>Title: {{poster.title}}</h1>
                            <h3>Created by an author:</h3>
                            <div class="card_animal">
                                <p class="card-keyword">Keyword: {{poster.keyword}}</p>
                                <p class="card-location">Location: {{poster.location}}</p>
                                <p class="card-date">Date: {{poster.dateCreated}}</p>
                            </div>

                            <p class="disc">Description: {{poster.description}}</p>

                            {{#if user}}
                            <div class="social-btn">
                                {{#if isAuthor}}
                                <a href="/posters/{{poster._id}}/edit" class="edit-btn">Edit</a>
                                <a href="/posters/{{poster._id}}/delete" class="del-btn">Delete</a>
                                {{else}}
                                {{#unless isVoted}}
                                <a href="/posters/vote/{{poster._id}}/upVote" class="vote-up">UpVote +1</a>
                                <a href="/posters/vote/{{poster._id}}/downVote" class="vote-down">DownVote -1</a>
                                {{else}}
                                <p class="thanks-for-vote">Thanks For Voting</p>
                                {{/unless}}
                                {{/if}}
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="card_right">
                        <img src="{{poster.image}}" alt="image">
                    </div>
                </div>

            </section>

            <section id="votes">
                <div class="vote-info">
                    <div class="card_left">
                        <div class="card_datails">
                            <h1>Votes</h1>
                            <div class="card_vote">
                                <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                                <p class="PV">Total rating of votes: {{poster.rating}}</p>
                            </div>
                            {{#if votes}}
                            <p class="disc">People who voted for the post - </p>
                            {{else}}
                            <p class="disc">People who voted for the post - No one has voted yet.</p>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </section>

</main>


  