<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{#if pageTitle}} | {{pageTitle}}{{/if}}</title>

<!-- Do not forget to change the path to the css file -->
    <link href="/public/styles/css/style.css" type="text/css" rel="stylesheet">


       {{#if error}}
      <div id="box">
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}
</head>



        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="public/styles/img/logo.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="#">All Posts</a></li>
                 {{#if user}}
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Posts of {{email-of-user}}</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                 {{else}}
                <li><a href="/auth/register">Register</a></li>
                <li><a href="/auth/login">Login</a></li>
                 {{/if}}
            </ul>

        </nav>

        <main>

        {{{body}}}

        </main>

 <footer>
        <div class="container">
            <p>&copy; 2024 TechStore. All rights reserved.</p>
        </div>
    </footer>
</body>


</html>



 


